* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* CONTENITORE HEADER */
.container-header {
    width: 100%;
    height: 90px;
    background-color: rgb(37, 94, 233);
    display: flex;
    justify-content: center;
    align-items: center;

}

/* CONTENITORE DELLA RIGA ARANCIONE */
.row-header {
    width: 1200px;
    display: flex;
}

/* COLONNE PIù PICCOLI LATERALI */
.col-20 {
    width: 20%;
    height: 100%;
    padding-top: 10px
}

/* COLONNA CENTRALE PIù GRANDE */
.col-60 {
    width: 60%;
    height: 100%;
    padding-top: 10px;
    text-decoration: none;
    color: #fff;
}

/* MODIFICA DLLA POSIZIONE DEI CONTENUTI */
.content.logo {
    text-align: left;
}

.content.link {
    text-align: center;
    color: white;
    padding-top: 10px;

}

.content.login {
    text-align: center;
    color: black;
    font-size: 20px;
    background-color: #fff;
    border-radius: 20px;
    width: 50%;
    float: right;
    padding: 10px 15px;
    margin-bottom: 15px;
}

#color-accedi {
    color: black;
}

/* GESTIONE DEL CONTENUTO DELLA COLONNA CENTRALE TRAMITE UL */
ul {
    list-style-type: none;
}

li {
    display: inline;
    margin: 20px;
}

a {
    text-decoration: none;
    color: white;
    font-size: 20px;
}

/* PRIMO CONTAINER */
.container-bg-blue {
    max-width: 100%;
    background-color: darkblue;
    display: flex;
    padding: 40px;
}

#row-big-purple {
    width: 900px;
    margin: 0 auto;
    height: 400px;
    background-color: rgb(223, 102, 197);
    border: 2px dashed black;
}

/* SECONDO CONTAINER */
.container-bg-white {
    max-width: 100%;
    display: flex;
    padding: 40px;
}

.row-main {
    width: 1200px;
    margin: 0 auto;
    display: flex;
}

.col-blue {
    width: 60%;
    height: 500px;
    background-color: rgb(62, 111, 245);
    border: 2px dashed black;
}

.col-pink {
    width: 40%;
    height: 500px;
    background-color: pink;
    border: 2px dashed black;
}

/* TERZO CONTAINER */
.container-bg-grey {
    background-color: lightgray;
    width: 100%;
    display: flex;
    padding: 40px;
}

/* IL QUARTO CONTAINER NON HO AVUTO BISOGNO DI MODIFICARLO SU CSS PERCHè AVEVO GIà LE CLASSI PRONTE */

/* QUINTO CONTAINER  */

#row-big-green {
    width: 1200px;
    margin: 0 auto;
    height: 800px;
    background-color: green;
    border: 2px dashed black;
}


/* SESTO CONTAINER */
.container-bg-black {
    width: 100%;
    background-color: rgb(35, 36, 39);
    display: flex;
    padding-bottom: 40px;
    padding-top: 15px;
}

.col-salmon {
    width: 28%;
    height: 500px;
    background-color: salmon;
    border: 2px dashed black;
}

.aqua {
    width: 18%;
    height: 500px;
    background-color: aqua;
    border: 2px dashed white;
}

/* FOOTER */

.container-footer {
    margin-top: 2px;
    width: 100%;
    height: 110px;
    background-color: rgb(35, 36, 39);
    padding-top: 20px;
}

.row-footer {
    width: 1200px;
    margin: 0 auto;
    height: 90px;
    display: flex;
}


.col-100 {
    width: 100%;
    background-color: aquamarine;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

#logo-footer {
    background-color: pink;
    border: 2px dashed black;
    padding: 10px;

}

#button-footer {
    background-color: pink;
    border: 2px dashed black;
    padding: 10px;
}